<link rel="stylesheet" href="/styles/home/index.css">
<script type="text/javascript" src="/js/home/index.js"></script>

<div id="intro-section" class="home-panel">
	<div class="background-img">
	</div>
	<div class="verticalContainer">
		<div class="row text-center color-white">
			<img class="logo" src="/images/home/logo.png">
			<p class="fs60 font-medium color-white">
				Intelligent Restaurant Payment
			</p>
			<p class="fs40 lh120">
				<span class="font-light">We Provide The Best Food<br/>At The</span>
				<span class="font-medium">Right Price</span>
			</p>
		</div>
	</div>
</div>

<div id="navbar-section">
	<div class="row">
		<div class="medium-3 columns">
			<a href="#" class="grid">
				<div class="animated-figure effect-lily">
					<img src="/images/home/fastfood.jpg">
					<div class="animated-figure-caption">
						<h2 class="font-medium">
							FASTFOOD
						</h2>
						<p class="font-light fs18">
							Fried chickens, chips, pizzas
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="medium-3 columns">
			<a href="#" class="grid">
				<div class="animated-figure effect-lily">
					<img src="/images/home/maindish.jpg">
					<div class="animated-figure-caption">
						<h2 class="font-medium">
							MAIN DISHES
						</h2>
						<p class="font-light fs18">
							Beefsteaks, noodles, rice
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="medium-3 columns">
			<a href="#" class="grid">
				<div class="animated-figure effect-lily">
					<img src="/images/home/drinks.jpg">
					<div class="animated-figure-caption">
						<h2 class="font-medium">
							DRINKS
						</h2>
						<p class="font-light fs18">
							Soda, coffee, soft drinks
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="medium-3 columns">
			<a href="#" class="grid">
				<div class="animated-figure effect-lily">
					<img src="/images/home/dessert.jpg">
					<div class="animated-figure-caption">
						<h2 class="font-medium">
							DESSERT
						</h2>
						<p class="font-light fs18">
							Cakes, Pudding
						</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>