<link rel="stylesheet" href="/styles/home/index.css">
<script type="text/javascript" src="/js/home/index.js"></script>

<div id="intro-section" class="home-panel relative">
	<div class="background-img">
	</div>
	<div class="verticalContainer">
		<div class="row text-center color-white">
			<img class="logo" src="/images/home/logo.png">
			<p class="fs60 font-medium color-white">
				Intelligent Restaurant Payment
			</p>
			<p class="fs40 lh120">
				<span class="font-light">We Provide The Best Food<br/>At The</span>
				<span class="font-medium">Right Price</span>
			</p>
		</div>
	</div>
</div>

<div id="navbar-section">
	<div class="row">
		<div class="medium-3 columns">
			<a href="#fastfood-section" class="grid" id="nav-fastfood">
				<div class="animated-figure effect-lily">
					<img src="/images/home/fastfood.jpg">
					<div class="animated-figure-caption">
						<h2 class="font-medium">
							FASTFOOD
						</h2>
						<p class="font-light fs18">
							Fried chickens, chips, pizzas
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="medium-3 columns">
			<a href="#maindish-section" class="grid" id="nav-maindish">
				<div class="animated-figure effect-lily">
					<img src="/images/home/maindish.jpg">
					<div class="animated-figure-caption">
						<h2 class="font-medium">
							MAIN DISHES
						</h2>
						<p class="font-light fs18">
							Beefsteaks, noodles, rice
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="medium-3 columns">
			<a href="#drinks-section" class="grid" id="nav-drinks">
				<div class="animated-figure effect-lily">
					<img src="/images/home/drinks.jpg">
					<div class="animated-figure-caption">
						<h2 class="font-medium">
							DRINKS
						</h2>
						<p class="font-light fs18">
							Soda, coffee, soft drinks
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="medium-3 columns">
			<a href="#dessert-section" class="grid" id="nav-dessert">
				<div class="animated-figure effect-lily">
					<img src="/images/home/dessert.jpg">
					<div class="animated-figure-caption">
						<h2 class="font-medium">
							DESSERT
						</h2>
						<p class="font-light fs18">
							Cakes, Pudding
						</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>

<div id="fastfood-section" class="food-section home-panel">
	<div class="row">
		<div class="medium-6 columns">
			<div class="verticalContainer text-right">
				<img src="/images/home/fastfood2.jpg">
			</div>
		</div>
		<div class="medium-6 columns">
			<div class="verticalContainer left-description">
				<p class="font-bold fs60">Fast Food</p>
				<p class="font-bold fs24">You'll love our delicious fast food</p>
				<p class="font-medium">
					You'll love our delicious fast food. You'll love our delicious fast food. You'll love our delicious fast food. You'll love our delicious fast food. You'll love our delicious fast food. You'll love our delicious fast food. You'll love our delicious fast food.
				</p>
				<a href="#">
					<div class="view-button">
						<span class="font-medium">View Menu</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div id="maindish-section" class="food-section home-panel">
	<div class="row">
		<div class="medium-6 columns">
			<div class="verticalContainer right-description">
				<p class="font-bold fs60">Main Dish</p>
				<p class="font-bold fs24">You'll love our delicious main dish</p>
				<p class="font-medium">
					You'll love our delicious main dish. You'll love our delicious main dish. You'll love our delicious main dish. You'll love our delicious main dish. You'll love our delicious main dish. You'll love our delicious main dish. You'll love our delicious main dish.
				</p>
				<a href="#">
					<div class="view-button">
						<span class="font-medium">View Menu</span>
					</div>
				</a>
			</div>
		</div>
		<div class="medium-6 columns">
			<div class="verticalContainer">
				<img src="/images/home/maindish2.jpg">
			</div>
		</div>
	</div>
</div>

<div id="drinks-section" class="food-section home-panel">
	<div class="row">
		<div class="medium-6 columns">
			<div class="verticalContainer text-right">
				<img src="/images/home/drinks2.jpg">
			</div>
		</div>
		<div class="medium-6 columns">
			<div class="verticalContainer left-description">
				<p class="font-bold fs60">Drinks</p>
				<p class="font-bold fs24">You'll love our delicious drinks</p>
				<p class="font-medium">
					You'll love our delicious drinks. You'll love our delicious drinks. You'll love our delicious drinks. You'll love our delicious drinks. You'll love our delicious drinks. You'll love our delicious drinks. You'll love our delicious drinks.
				</p>
				<a href="#">
					<div class="view-button">
						<span class="font-medium">View Menu</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div id="dessert-section" class="food-section home-panel">
	<div class="row">
		<div class="medium-6 columns">
			<div class="verticalContainer right-description">
				<p class="font-bold fs60">Dessert</p>
				<p class="font-bold fs24">You'll love our delicious dessert</p>
				<p class="font-medium">
					You'll love our delicious dessert. You'll love our delicious dessert. You'll love our delicious dessert. You'll love our delicious dessert. You'll love our delicious dessert. You'll love our delicious dessert. You'll love our delicious dessert.
				</p>
				<a href="#">
					<div class="view-button">
						<span class="font-medium">View Menu</span>
					</div>
				</a>
			</div>
		</div>
		<div class="medium-6 columns">
			<div class="verticalContainer">
				<img src="/images/home/dessert2.jpg">
			</div>
		</div>
	</div>
</div>

<div id="review-section" class="home-panel">
	<div class="verticalContainer">
		<div class="row">
			<div class="medium-7 columns text-center">
				<p class="font-bold color-orange lh80">Our Happy Customers</p>
				<p class="font-bold lh80">Minh Thành Võ</p>
				<p class="font-medium">Great Food! Menu is awesome! These foods are not only great but also at the right price! I'll highly recommend to use this system :)</p>
			</div>
			<div class="medium-5 columns text-center">
				<p class="font-bold color-orange lh80">About InTelResMent</p>
				<p class="font-medium no-mgbot">
					We are a team of 3 members. We are a team of 3 members. We are a team of 3 members. We are a team of 3 members. We are a team of 3 members. We are a team of 3 members. We are a team of 3 members. We are a team of 3 members.
				</p>
			</div>
		</div>
	</div>
</div>

