#intro-section {
	height: 600px;
	background-image: url('/images/home/header2.jpg');
	background-position: center;
	background-size: cover;
}

#intro-section .background-img {
	background-color: #f15a29;
	height: 600px;
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	opacity: 0.65;
	z-index: 1;
}

#intro-section .row {
	z-index: 2;
	position: relative;
}

#intro-section .logo {
	height: 200px;
}

/*---------------------------------*/

#navbar-section .row {
	max-width: 100%;
}
#navbar-section .row .columns {
	padding: 0;
}
#navbar-section .grid img {
	height: 200px !important;
}

/*---------------------------------*/

.home-panel {
	height: 600px;
}
.food-section img {
	height: 400px;
}
.food-section .view-button {
	border: 2px solid #f15a29;
	display: inline-block;
	background-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	color: #f15a29 !important;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	-ms-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}
.food-section .view-button:hover {
	color: white !important;
	background-color: #f15a29;
}